.wrapper {
    padding: 30px 0;
}

.title {
   width: 100%; 
   text-align: center; 
   margin-bottom: 25px;
}

.loading {
    padding-top: 30px;
}

.error {
    padding-top: 30px;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 20px;
}