.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
}

.wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}